body{
  background-color: white;
}

h1 {
  font-family: "Helvetica Neue Light",Arial, sans-serif;
}

#headings{
  font-size: 18px;
  color: #CC0633;
}

#headings,#instruct,#inner td, #inner th{
  font-family: "Georgia", Cambria, serif;
}


#outer{
  width: 100%;
  padding-left: 8px;
  padding-top: 15px;
  padding-bottom: 15px;

}

#inner {
  table-layout: fixed;
  width: 65%;
  border-collapse: collapse;
  border: 1px solid #c9c9c9;
}

#inner th{
  width = 20%;
  padding: 5px;
  vertical-align: middle;
}

#inner td{
  width = 20%;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

#weighted,#mean{
  background-color: #CC0633;
  font-family: "Arial", sans-serif;
  color: white;
}
